@page "{id:Guid?}"
@using MyApp.WebApp.Pages.Shared.EditorTemplates
@using MyApp.WebApp.Platform.Rendering
@model CloseModel

@{
    ViewData["Title"] = $"Close Entry ID {Model.EntryDto.WorkEntryId}";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>

<div class="p-3 bg-light-subtle border rounded-3">
    <h2 class="h4">Status</h2>
    <p>@Model.ItemView.Status</p>
    <h2 class="h4">Entry Type</h2>
    <p>@Model.ItemView.EntryTypeName</p>
    <h2 class="h4">Date Received</h2>
    <p>@Model.ItemView.ReceivedDate</p>
    <h2 class="h4">Notes</h2>
    <section class="border border-info p-4 rounded mb-3">
        @Html.Raw(MarkdownHelper.MarkdownToHtml(Model.ItemView.Notes))
    </section>
    <form method="post">
        <div class="mb-3">
            @Html.EditorFor(model => model.EntryDto.Comments, EditorTemplate.Textarea, new { Rows = 3 })
        </div>
        <div class="mt-3 mb-1">
            <button type="submit" class="btn btn-primary col-5 col-sm-3 col-lg-2 me-2">Close</button>
            <a asp-page="Details" asp-route-id="@Model.EntryDto.WorkEntryId.ToString()" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <input asp-for="EntryDto.WorkEntryId" type="hidden" />
    </form>
</div>
