@page "{actionId:Guid?}"
@using MyApp.WebApp.Pages.Shared.EditorTemplates
@model EditActionModel

@{
    ViewData["Title"] = "Edit Action";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>

<div class="p-3 border border-primary-subtle rounded-3 bg-light-subtle mb-3">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>
        <div class="row">
            <div class="mb-3">
                @Html.EditorFor(model => model.UpdateDto.ActionDate, EditorTemplate.InputDateOnlyNullable)
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                @Html.EditorFor(model => model.UpdateDto.Comments, EditorTemplate.Textarea, new { Rows = 3 })
            </div>
        </div>

        <div class="mt-3 mb-1">
            <button type="submit" class="btn btn-primary col-6 col-sm-4 col-lg-3 me-2">Save Changes</button>
            <a asp-page="../WorkEntries/Details" asp-route-id="@Model.WorkEntryView.Id.ToString()" asp-fragment="@Model.EntryActionId" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="text-danger-emphasis">* denotes a required field</div>
        <input asp-for="EntryActionId" type="hidden" />
    </form>
</div>

<div class="p-3 border rounded-3 bg-dark-subtle text-dark-emphasis">
    <h2 class="h3">For Work Entry ID @Model.WorkEntryView.Id.ToString()</h2>
    <partial name="Shared/_WorkEntrySummaryPartial" model="Model.WorkEntryView" />
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
